{% block head %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/chef.css') }}">
    <link rel="stylesheet" href="{{ asset('css/flickity.css') }}">
    <script src="{{ asset('js/flickity.pkgd.min.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/jquery.reflection.js') }}"></script>
    <script src="{{ asset('js/jquery.cloud9carousel.js') }}"></script>
    <script src="{{ asset('js/carousel.js') }}"></script>
    <script src="{{ asset('js/menuMobile.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/hygiene.css') }}">
</head>

{% endblock %}

{% block container %}

<header>
    <aside class="menuAside">
        <ul class="ulClose">
            <li class="close"><i class="fa fa-times" aria-hidden="true"></i></li>
            <li class="menuLogo"><a href="/"><img src="{{ asset('img/logoTablette.png') }}"></a></li>
        </ul>

        <ul class="menuApp">
            <li><button class="download">TÉLÉCHARGER L'APPLI</button></li>
            <li><button class="become">DEVENIR CHEF</button></li>
            <li class="connexion">CONNEXION</li>
            <li class="connexion">COMMENT ÇA MARCHE</li>
            <li class="connexion"><a href="/hygiene">HYGIÈNE</a></li>
        </ul>
    </aside>

    <ul class="menu">
        <a href="#">
            <li></li>
            <li></li>
            <li></li>
        </a>
    </ul>
    <div class="logoHygiene"><img src="{{ asset('img/logoTablette.png') }}"></div>
</header>

<div class="pageChefbecome">

    <div class="how">COMMENT DEVENIR COOKIST CHEZ COOK4US</div>
    <div class="why">POURQUOI DEVENIR COOKIST CHEZ NOUS</div>
    <div class="why">NOTRE FORMATION SUPPLEMENTAIRE</div>
    <hr>
    <p class="titre1">COMMENT DEVENIR COOKIST<br> CHEZ COOK4US</p>

    <div class="securityChef">
        <p class="security1">Confort et sécurité</p>
        <p class="security2">Lorsque le cookist prépare ses plats, il s'engage à les faire
            avec convivialité et dans la propreté. Il s'immice dans l'intimité
         des clients et doit donc faire preuve de respect
        </p>
        <img src="{{ asset('img/icon1.png') }}">
    </div>

    <div class="securityChef">
        <p class="security1">Fraîcheur des produits</p>
        <p class="security2">Le cookist s'engage à utiliser des produits frais,
            afin de ne pas porter atteinte à la santé des consommateurs.
            Toute fraude à cette règle sera punie.
        </p>
        <img src="{{ asset('img/icon2.png') }}">
    </div>

    <div class="securityChef">
        <p class="security1">Contenu des plats</p>
        <p class="security2">Le cookist s'engage à notifier sur sa fiche de plats
            les ingrédients contenus das sa proposition culinaire et entrerdans les détails
            si les clients el lui demandent afin de prévenir les risques d'allergies.
        </p>
        <img src="{{ asset('img/icon3.png') }}">
    </div>

    <div class="securityChef">
        <p class="security1">Hygiène</p>
        <p class="security2">Le cookist s'engage à respecter les règlements en vigueur
            pour assurer l'hygiène garantie d'une alimentation saine, conformément à l'Arrêté
            du 9 mai 1995.
        </p>
        <img src="{{ asset('img/icon4.png') }}">
    </div>
    <hr>

    <p class="titre1">POURQUOI DEVENIR COOKIST<br> CHEZ NOUS</p>

    <div class="whyCookist">
        <p class="security1">Devenez chef de nos convives</p>
        <p class="security2">Vous avez toujours rêvez de faire goûter vos délicieux
            plats faits maison à vos convives ? Vous êtes au bon endroit ! Si vous êtes un mordu de cuisine,
            amoureux fait maison et du bien manger, votre place vous attend en tant que cookist chez nous !
        </p>
        <img class="tarte" src="{{ asset('img/tarte.png') }}">
    </div>

    <div class="whyCookist">
        <p class="security1">Arrondissez vos fins de mois</p>
        <p class="security2">Et si votre passion devenait bien plus qu'un passe-temps ? Cook4us c'est LA plateforme
            qui profite à tous. Régalez vos clients en les épatant avec vos talents culinaires et empochez  de l'argent en retour.
            Rien de plus simple; Allez, lancez-vous !
        </p>
        <img class="tarte" src="{{ asset('img/saladepomme.png') }}">
    </div>
    <div class="how">ACCÉDEZ À L'INSCRIPTION</div>
    <hr>
    <p class="titre1">NOTRE FORMATION</p>
    <div class="whyCookist">
        <p class="security1">Participez à notre formation et soyez<br> certifié en tant que cookist d'exception</p>
        <p class="security2">Cette formation est au prix de 35€ et dure une demi-journée. Elle vous permet d'optenir
            le statut "certifié" sur votre futur profil  de cookist. Les clientss seront alors plus attirés vers vous.
            C'est parti !
        </p>
        <hr>
        <p class="security2"> Pour participer rien de plus simple . Cochez l'icône <div></div> lors de votre inscription.
        Vous serez alors contacté pour connaître  toutes les informations supplémentaires. À vous de jouer !</p>
    </div>
    <div class="how">ACCÉDEZ À L'INSCRIPTION</div>
</div>
{% endblock %}

{% include 'Cook4usBundle:Base:footer.html.twig' %}